@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: pageLoadAnimation 1s ease-in-out 1;
  padding: 20px 100px;
}

@keyframes pageLoadAnimation {
  from{
    margin: 100px;
  }

  to{
    margin: 0;
  }
}

a{
  text-decoration: none;
  transition: 0.2s linear;
}

a:hover, a:focus, a:focus-visible, a:focus-within{
  text-decoration: none;
  color: #928656 !important;
}

button{
  cursor: pointer;
}

a, p , h1, h2, h3, h4, h5, h6 {
  color: #323232;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-wdth: 400px) {
  .App{
    margin: 0 10px;
  }
}
