.nav_list{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    position: relative;
}

.nav_list li{
    position: relative;
}

.nav_list li a{
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 178.5%; /* 32.13px */
}

.nav_logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav_logo a svg path:hover{
    fill: #323232;
}

.nav_list_dropdown{
    border-top: 1px solid #32323250;
    border-left: 1px solid #32323250;
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.19);
    position: absolute;
    left: 50%;
    top: 45px;
    transform: translate(-50%, 0);
    display: none;
}

.nav_list_dropdown_list{
    list-style: none;
    padding: 0;
    min-width: 200px;
    max-width: 200px;
}

.nav_list_dropdown_list li{
    padding: 15px 15px 0 15px;
}

.nav_list_dropdown_list li:last-child{
    padding: 15px;
}